:root {
  --label-height: -23px;
  --folder-border: 1px solid black;
  --folder-color: #eccea7;
  --folder-highlight: yellow;
  --folder-raise-height: 40px;
  --folder-seperation: 5px;
  --cabinet-front-width: 500px;
  --cabinet-width: 525px;
  --cabinet-inside-width: 450px;
  --cabinet-color: lightgrey;
  --cabinet-label-shadow:rgb(120, 120, 120, 0.5);
  --cabinet-border-radius: 2px;
}

html {
  height: 100%;
  width: 100%;
}

* {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background-color: white;
}

/* Cabinet shananigans */

.cabinet {
  margin: 0px;
}

.cabinet-outside {
  height: 400px;
  width: var(--cabinet-width);
  background-color: var(--cabinet-color);
  margin-left: auto;
  margin-right: auto;
  margin-top: 5vh;
  border-radius: 2px;
  box-shadow: #7a7a7a 5px 5px 5px;
  display: grid;
  grid-template-rows: 100px 50px 350px;
  grid-template-columns: 500px;
  justify-content: center;
}

.cabinet-outside-above {
  position: relative;
  height: 350px;
  top: -350px;
  grid-row-start: 1;
  grid-row-end: 2;
  background-color: white;
  z-index: 2;
}

.cabinet-outside-top {
  grid-row-start: 2;
  grid-row-end: 3;
  position: relative;
  top: -100px;
  background-color: var(--cabinet-color);
  z-index: 3;
}

.cabinet-outside-bottom {
  grid-row-start: 3;
  grid-row-end: 4;
  position: relative;
  top: -100px;
  background-color: var(--cabinet-color);

}

.cabinet-front {
  width: var(--cabinet-front-width);
  margin-left: auto;
  margin-right: auto;
  height: 300px;
  background-color: var(--cabinet-color);
  position: relative;
  top: -180px;
  z-index: 5;
  border: 1px solid black;
  border-radius: 5px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
}

.cabinet-front.open{
  box-shadow: #7a7a7a 5px 5px 5px;
  z-index: 12;
}

/* 
    !!!!! CONTENT WARNING !!!!!!
 I wanted the label to be inside the frame
    , proceed with caution
*/
.cabinet-front-label-top {
  background-color: grey;
  border-top-left-radius: var(--cabinet-border-radius);
  border-top-right-radius: var(--cabinet-border-radius);
  box-shadow: var(--cabinet-label-shadow) 0px 5px 5px;
  height: 10px;
  width:200px;
  position: relative;
  top:-70px;
  left: -10px;
}

.cabinet-front-label-left {
  background-color: grey;
  
  box-shadow: var(--cabinet-label-shadow) 5px 0px 5px;
  height: 62px;
  width:10px;
  position: relative;
  top:-70px;
  left: -10px;
  z-index: 2;
}
.cabinet-front-label-bottom {
  background-color: grey;
  border-bottom-left-radius: var(--cabinet-border-radius);
  border-bottom-right-radius: var(--cabinet-border-radius);
  height:10px;
  width: 200px;
  position: relative;
  top: -70px;
  left: -10px;
}
.cabinet-front-label-right {
  background-color: grey;
  
  height: 62px;
  width:10px;
  position: relative;
  top:-142px;
  left: 180px;
  z-index: 2;
}

.cabinet-front-label-connecting-box-shadow {
  box-shadow: var(--cabinet-label-shadow) 5px 5px 5px;
  height: 82px;
  width: 200px;
  position:relative;
  top:-214px;
  left: -10px
}

.cabinet-front-label-inside {
  background-color: white;
  height: 70px;
  width: 180px;
  border-radius: 2px;
  margin-top: -10px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  align-self: center;
}

.cabinet-front-controls {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns:1fr 1fr 1fr;
  gap: 15px;
}

.cabinet-front-switch {
  width: 20px;
  height: 20px;
  background-color: #666666;
  border-radius: 2px;
  align-self: center;
  justify-self: right;
  box-shadow: #7a7a7a 5px 5px 5px;
}

.cabinet-front-handle {
  width: 150px;
  height: 20px;
  background-color: #666666;
  border-radius: 2px;
  align-self: center;
  box-shadow: #7a7a7a 5px 5px 5px;
}

.cabinet-inside {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(10, 40px);
  grid-template-areas:
    "item-10"
    "item-9"
    "item-8"
    "item-7"
    "item-6"
    "item-5"
    "item-4"
    "item-3"
    "item-2"
    "item-1";

  margin-right: auto;
  margin-left: auto;
  padding-top: 150px;
  justify-items: center;
  align-items: center;
  border: 1px solid black;
  border-top: none;
  background-color: gray;
  margin-top: -470px;
  height: 650px;
  width: var(--cabinet-inside-width);
  position: relative;
  z-index: 1;
  transition: all 0.2s, z-index 0s;
}

.cabinet-inside>.folder:nth-child(10) {
  grid-area: item-10;
  z-index: 0;
}

.cabinet-inside>.folder:nth-child(9) {
  grid-area: item-9;
  z-index: 1;
}

.cabinet-inside>.folder:nth-child(8) {
  grid-area: item-8;
  z-index: 2;
}

.cabinet-inside>.folder:nth-child(7) {
  grid-area: item-7;
  z-index: 3;
}

.cabinet-inside>.folder:nth-child(6) {
  grid-area: item-6;
  z-index: 4;
}

.cabinet-inside>.folder:nth-child(5) {
  grid-area: item-5;
  z-index: 5;
}

.cabinet-inside>.folder:nth-child(4) {
  grid-area: item-4;
  z-index: 6;
}

.cabinet-inside>.folder:nth-child(3) {
  grid-area: item-3;
  z-index: 7;
}

.cabinet-inside>.folder:nth-child(2) {
  grid-area: item-2;
  z-index: 8;
}

.cabinet-inside>.folder:nth-child(1) {
  grid-area: item-1;
  z-index: 9;
}

/* Setting label positions */

.cabinet-inside>.folder:nth-child(1)>.label {
  left: 10px
}

.cabinet-inside>.folder:nth-child(2)>.label {
  left: 60px
}

.cabinet-inside>.folder:nth-child(3)>.label {
  left: 110px
}

.cabinet-inside>.folder:nth-child(4)>.label {
  left: 160px
}

.cabinet-inside>.folder:nth-child(5)>.label {
  left: 210px
}

.cabinet-inside>.folder:nth-child(6)>.label {
  left: 10px
}

.cabinet-inside>.folder:nth-child(7)>.label {
  left: 60px
}

.cabinet-inside>.folder:nth-child(8)>.label {
  left: 110px
}

.cabinet-inside>.folder:nth-child(9)>.label {
  left: 160px
}

.cabinet-inside>.folder:nth-child(10)>.label {
  left: 210px
}


.folder {

  text-align: center;
  height: 200px;
  width: 400px;
  padding: 0px;
  transition: 0.1s margin;
}

.folder .label {
  position: relative;
  top: var(--label-height);
  height: 20px;
  padding: 0;
  width: 80px;
  border: var(--folder-border);
  border-bottom: none;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  background-color: var(--folder-color);
  z-index: 12;
}

.folder .label p {
  padding: 0;
  margin: 1px;
}

/* Raising up sheets on focus/hover */
.folder:hover,
.folder:has(.label:focus) {
  margin-bottom: var(--folder-raise-height);
}

/* Highlighting selected folder */
.folder:hover>.label,
.folder:hover>.body,
.folder:has(.label:focus)>.label,
.folder:has(.label:focus)>.body {
  border-color: var(--folder-highlight);
}

.folder:hover+.folder {
  margin-top: calc(var(--folder-seperation)*-1);
}

.folder:has(+ .folder:hover) {
  margin-top: var(--folder-seperation);
}


.folder .body {
  position: relative;
  top: var(--label-height);
  height: 100%;
  width: 100%;
  border: var(--folder-border);
  border-radius: 10px;
  background-color: var(--folder-color);
}

.folder.selected {
  margin-bottom: 300px;
}

.cabinet-inside:has(+ .cabinet-front.open){
  z-index: 11;
  transition: all 0.2s, z-index 0s 0.2s;
  margin-top: 0px;
}

#cs-cabinet {
  z-index:10;
  transition: z-index 1s;
}
#cs-cabinet:has(>.cabinet-outside>.cabinet-outside-bottom>.cabinet-front.open){
  z-index:12;
  transition: z-index 0s;
}
/* End Cabinet shananigans */

#projects {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
